.root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  background: var(--body);
  transition: background-color var(--animation), var(--animation-text);
}

.outlet {
  margin: var(--outlet-padding) 0;
  border-radius: 10px;
  height: calc(100% - var(--header-height) - 2 * var(--outlet-padding));
  background: var(--bg);
  transition: background-color var(--animation);
}

.header {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 10px;
  height: var(--header-height);
  background: var(--bg);
  transition: background-color var(--animation);
  border-radius: 0 0 10px 10px;
}