{
  "root": true,
  "overrides": [
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        //plugins
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended" // Uses the recommended rules from the @typescript-eslint/eslint-plugin
      ],
      "rules": {
        // Place to specify ESLint rules. Can be used to overwrite rules specified from the extended configs
        "prettier/prettier": [
          "error", {
            "singleQuote": true,
            "endOfLine": "auto",
            "printWidth": 120
          }
        ]
//        "@typescript-eslint/no-explicit-any": "off"
      },
      "parserOptions": {
        "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
        "sourceType": "module" // Allows for the use of imports
      }
    },
    {
      "files": ["*.html"],
      "rules": {
        "prettier/prettier": [
          "error", {
            "singleQuote": true,
            "endOfLine": "auto",
            "printWidth": 120
          }
        ]
      }
    }
  ]
}
