:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: 2px;
  font-synthesis: none;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --animation: .5s ease-in-out;
  --animation-text: color .3s ease-in-out;
  --body: white;
  --bg: #dadada;
  --block-bg: white;
  --text: black;
  --header-height: 64px;
  --outlet-padding: 30px;
  --brightness: 90%;
}

.dark_mode {
  --body: black;
  --block-bg: #333333;
  --bg: #222222;
  --text: white;
  --brightness: 110%;

}


body {
  margin: 0;
  height: 100%;
  color: var(--text);
}

html, #app {
  height: 100%;
}
