:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --animation: .3s all ease-in-out;
  --bg: #dadada;
  --text: black;
  --header-height: 48px;
}

.dark_mode {
  --bg: #444444;
  --text: white;
}



[data-layout=header] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: var(--header-height);
  background: #9bc98a;
  border-radius: 0 0 30px 30px;
}

body {
  margin: 0;
  height: 100%;
  background: var(--bg);
  color: var(--text);
  transition: .3s background-color ease-in-out, .9s color ease-in-out;
}

button {
  transition: var(--animation);
}

#app {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  & [data-outlet] {
    height: calc(100% - var(--header-height));
  }
}

html {
  height: 100%;
}
